

.onload-div {
    top: 0;
    right: 0;
    color: #fff;
    left: 0px;
    margin: auto;
    height: 30px;
    height: 3rem;
    position: fixed;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 3rem;
    --offset: 3rem;
    width: max-content;
    font-family: 'Roboto Mono', monospace;
    bottom: calc(var(--n) * -60px + var(--t) * 0.5 * 60px);
}

.onload-text {
    top: 3rem;
    display: inline;
    position: relative;
    height: min-content;
    transition: top 0.5s;
    animation: animateText 0.5s calc(var(--id) * 0.05s + var(--total) * 0.05s + var(--n) * 0.3s) forwards;
}

.onload-text.reverse {
    top: 0px;
    animation: animateTextReverse 0.5s calc(var(--id) * 0.05s) forwards;
}

@keyframes animateText {
    0% {
        top: var(--offset);
    }
    60% {
        top: -7.5px;
    }
    100% {
        top: 0px;
    }
}

@keyframes animateTextReverse {
    0% {
        top: 0px;
    }
    40% {
        top: -7.5px;
    }
    100% {
        top: var(--offset);
    }
}

@media only screen and (min-width: 850px) {
    .onload-div {
        height: 4rem;
        font-size: 2rem;
        line-height: 4rem;
        --offset: 4rem;
    }

    .onload-text {
        top:  4rem;
    }
}