

* {
	user-select: none;
	padding: 0;
	margin: 0;
	color: #000;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

body,
.webgl {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #252525;
}


.webgl {
	opacity: 1;
	transition: opacity 3s;
}


.blob {
	position: absolute;
	width: 100%;
	height: 100%;
	background: none;
	overflow: visible;
}

.blob:nth-child(2) {
	filter: blur(7px);
}

.text-content {
	overflow: visible;
	opacity: 1;
	transition: opacity 2s;
	position: fixed;
	height: 300px;
	width: 300px;
	left: 200px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
}

.text-content p {
	color: #000;
	font-weight: 900;
	font-size: 1.8rem;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: min-content;
	transition: opacity 2s;
	text-align: center;
}

.text-content.hide {
	opacity: 0;
}


.blob svg {
	overflow: visible;
}

.webgl.hide {
	opacity: 0;
}

.click-hint {
	position: fixed;
	right: 0;
	left: 0;
	text-align: center;
	margin: auto;
	bottom: 50px;
	/*color: #fff;*/
	font-size: 1.2rem;
	opacity: 0;
	transition: opacity 2s;
}

.hide {
	opacity: 0;
}

.active {
	opacity: 1;
}

@keyframes animateText {
    0% {
        top: 40px;
    }
    60% {
        top: -7.5px;
    }
    100% {
        top: 0px;
    }
}

@keyframes animateTextReverse {
    0% {
        top: 0px;
    }
    40% {
        top: -7.5px;
    }
    100% {
        top: 30px;
    }
}


@media only screen and (max-width: 1250px) {

	.text-content {
		left: 100px;
	}

	.blob svg {
		transform: scale(75%);
	}

	.text-content p {
		font-size: 1.5rem;
	}

}

@media only screen and (max-width: 850px) {

	.text-content {
		left: 0;
		right: 0;
		bottom: -50%;
		margin: auto;
	}

	.blob svg {
		transform: scale(60%);
	}

	.text-content p {
		font-size: 1.2rem;
	}

}


@media only screen and (max-width:  400px) {
	.onload-div {
		font-size: 1.3rem;
	}
	.click-hint {
		font-size: 1.0rem;
	}
}

@media only screen and (max-width:  320px) {
	.onload-div {
		font-size: 1.1rem;
	}
	.click-hint {
		font-size: 0.9rem;
	}
}